<table class="table">
    <thead>
        <tr>
            <th>Reservation_ID</th>
            <th>State</th>
            <th>Total</th>
            <th colspan="3"></th>
        </tr>
    </thead>

    <tbody id="lePayment">
        <%= render @payments %>
    </tbody>
</table>