<h1>Payments Manager</h1>

<div id="paymentForm">
</div>

<%= link_to 'New Payment', new_payment_path, remote: true, id: "btnNewPayment" %>

<table class="table">
    <thead>
        <tr>
            <th>Reservation_ID</th>
            <th>State</th>
            <th>Total</th>
            <th colspan="3"></th>
        </tr>
    </thead>

    <tbody id="lePayment">
        <%= render @payments %>
    </tbody>
</table>